.App {
  --background-color: #ffec97;   
  --main-color: #ff6a00;       
  --secondary-color: #e63900;  
  --ternary-color: #ffd200;     
  --text-color: #3a1600;       

  --panel-color: #7a2d12;       
  --panel-soft: #a23c1a;

  --button-color: #ff6a00;
  --button-hover: #ff8c1a;
  --button-text: #fff8f0;

  --border-color: #ffd200;

  --font-1: "Rubik";
  --font-2: "Archivo Narrow";
  --font-3: "Karla";
  --section-header-font: "Rubik Bold";

  --section-header-color: var(--secondary-color);
  --section-text-color: var(--text-color);

  text-align: center;
  background-color: var(--background-color);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.section-header {
  font-family: var(--section-header-font);
  color: var(--section-header-color);
  font-size: 200%;
  width: 100%;
}

.section-paragraph {
  font-family: var(--section-header-font);
  color: var(--ternary-color);
  font-size: 200%;
  width: 100%;
}

p {
  font-size: 100;
}

hr {
  margin: 50px 0 0 0;
  border: 1px dashed var(--main-color);
}

.rover {
  vertical-align: -100%;
  display: inline-block;
  width: 10%;
}

.line {
  vertical-align: middle;
  display: inline-block;
  width: 90%;
}

.line p {
  vertical-align: middle;
  display: inline-block;
}

@media screen and (max-width: 800px) {
  p {
    font-size: smaller;
  }
}
